
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato:wght@400;700&family=Montserrat:wght@800&family=Roboto&display=swap');
@import url("reset.css");
    /* ====================== BASE =========================== */
    .wrapper{
      min-height: 100%;
      background: #07203F;
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }
    .container{
      max-width: 1440px;
      margin: 0 auto;
      padding: 0 10px;
    }
    .title{
      font-size: 64px;
      font-weight: 800;
      text-transform: uppercase;
      color: #D9D9D9;
    }
    .button{
      background: rgba(234, 222, 212, 0.35);
      font-size: 36px;
      font-weight: 500;
      padding: 15px 30px;
    }
    .text{
      font-family: 'Roboto', sans-serif;
      font-size: 36px;
    }
    /* ====================== STYLE =========================== */

    .button:hover, .button:focus {
       border-color: rgba(77, 93, 124, 0.8);
       box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(27, 31, 35, 0.6);
       outline: 0 none;
    }
    .item:after {
      display: block; 
      content: ""; 
      height: 3px;
      width: 0%; 
      background-color: #225384; 
      transition: width 0.4s ease-in-out; 
    }
    .item:hover:after,
    .item:focus:after {
      width: 100%;
    }
    .item:hover{
      color:#225384;
    } 

    /* ====================== HEADER ======================= */
    .header{
      color: aliceblue;
      font-size: 44px;
      border-bottom: 1px solid white;
    }
    .nickName{
      margin-right: 20px;
    }
    .header__container{
      display: flex;
      justify-content: space-between;
      padding: 55px 10px; 
    }
    .nav__list{
      display: flex;
      text-transform: uppercase;
      font-family: 'Inter', sans-serif;
    }
    .list__item{
      margin-right: 40px;
    }
    .list__item:last-child {
      margin-right: 0px;
    }
    .item{
      color: white;
    }
    /* ========================= MAIN ============================= */
    .main {
      flex: 1 1 auto;
    }
    /* ========================= ABOUT ============================ */
    .about {
      height: 100vh;
      display: flex;
      justify-content: space-between;
      padding: 135px 0;
    }
    .about__info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 620px;
      color: #D9D9D9;
    }
    .about__title {
      margin-top: 25px;
    }

    .about__button {
      padding: 29px 50px;
      border-radius: 90px;
      color: black;
      font-size: 40px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      background: #EADED4;
      font-family: 'Inter', sans-serif;
    }
    .about__photo {
      overflow: hidden;
      background: white;
      width: 516px;
      height: 516px;
      border-radius: 50%;
      border: 2px solid rgb(170, 167, 167);
    }
    .photo{
      width: 516px;
      height: 516px;
    }
    /* ========================== SKILS ======================== */
    .skils {
      background: url(https://s3-alpha-sig.figma.com/img/6083/7445/0b8192d8b3f6171a16dbc23ffcca9c13?Expires=1694995200&Signature=jV~orR96bf~yRc~bbsV5v-WdWS7oTIJsYLjW8s9AH2Fy7swfFN9ODZ78wZp~V5oixkeXB0o2jb1WNI7xAK33720FZSDzktyVMXnpLjgeKOy5WGSk0J03FyKVwvKGDXEOgQrehAOxIR12Y0LrQXUVN7IzeAZPiIMahfBvZG37zYAEbS6s8ckqli9nuoAFKrs~z~7LNDH2ecxQFTdJi8AL4EeZhEYH0kt84BwGjo9szhI-Q3MvddVSIMytTAsf0yKSHSNv5HrCYUI6oKCt--I53Gt8oo-UQQQs63lbC-RSWuN3TDbX3K8Co6oEhdWDgL2LppSw3LITEnPvzDRTzKaAHA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4),
      lightgray center / cover no-repeat;
      background-size: 100%;
      
    }
    .skils__container{
      padding: 135px 10px 150px 10px;
    }
    .skils__title {
      color: #333333;
      font-size: 72px;
      text-align: center;
      margin-bottom: 70px;
    }
    .skils__card {
      display: flex;
      justify-content: space-between;
    }

    .card__item {
      width: 350px;
      height: 350px;
      background: #07203F;
      position: relative;
      border: 3px solid #D9AA90;
    }
    .mid{
      border: 3px solid #07203F;
      background: #D9AA90;
      margin: 0 10px 0 10px;
    }

    .card__block_title{
      width: 100%;
      height: 35%;
      object-fit: cover;
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .card__img{
      width: 100%;
      height: 65%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
    /* =========================== WORK ======================= */
    .work {
      padding: 135px 0 150px 0;
    }
    .work__title {
      text-align: center;
      margin-bottom: 70px;
    }
 
    .work__block {
      color: white;
      display: flex;
      justify-content: space-between;
      margin-bottom: 134px;
    }
    .work__block:last-child{
      margin-bottom: 0;
    }
    .worc__img {
      width: 540px;
      height: 367px;
      position: relative;
      /* gap: 10px; */
    }
    .img__work{
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
    .work__description {
      width: 540px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px;
    }

    .description__text {
      font-size: 36px;
    }
    /* ========================== FORM ========================== */
    .form {
      background: #EADED4;
      padding: 135px 0 150px 0;
    }
    .form__container {
      max-width: 790px;
      margin: 0 auto;
      text-align: center;
    }
    .form__title {
      font-size: 72px;
      color: #333333;
      margin-bottom: 70px;
    }
    .form__block {
      background: white;
      padding: 77px 65px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .input{
      width: 100%;
      background: rgba(234, 222, 212, 0.35);
      margin-bottom: 38px;
      padding: 41px 32px;

    }
    .input:last-child{
      margin-bottom: 0;
    }
    .form__button {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .to_send {
      font-size: 36px;
      font-weight: 500;
    }
    .clear {
      font-size: 36px;
      font-weight: 500;
    }
    /* ========================== CONTACTS ======================== */
    .contacts {
      background: url(https://s3-alpha-sig.figma.com/img/f4d8/368f/21dcf520c4acf394d42a992466a3d7f9?Expires=1694995200&Signature=T3KyJjwRnh0xgQAF8zahIziirZbprojQieobqDH8PPScubmFiRz0xHljg3PuoMz6V35io2K~uw7Wz2rzI4Gid1JtDr4acvwSW1ebMz8GG7nbsYv4iaHzuk-DfJEc4HFA20EKip2Ut4uCCkjoKV7wcCiBWtjty32NXMOPdRFsOAYWyD4S7ZbazmT7E6D6ID0Js6AEtVai1LnPkZqgkrQRex4qNu9NyIWUjGb1fhxvWrNWhB8fOs1CzSZ~Y1Id8isEW9C8UOrntJ452tukoPdNoxycYRy5a-CzcpfcS-zAeGqjwdj5uznR8G4wDQ7wzE4F7UlfT9Nh64lpgIxkHNebHA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4)
      center / cover no-repeat;
    }
    .contacts__container {
      padding: 135px 10px 181px 10px;
    }
    .contacts__title {
      color: rgba(51, 51, 51, 1);
      text-align: center;
      margin-bottom: 65px;
    }
    .contacts__card {
      display: flex;
      justify-content: space-between;
    }
    .card__contact {
      width: 350px;
      height: 350px;
      background: rgba(7, 32, 63, 1);
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .midl{
      background: rgba(217, 170, 144, 1);
      margin: 0 10px 0 10px;
    }
    .contact__subtitle {
      font-size: 48px;
      text-align: center;
      margin-bottom: 22px;
    }
    .contact__link {
      text-align: center;
      
    }
    .link {
      display: inline-block;
      width: 300px;
      color: black;
      font-size: 40px;
      font-weight: 800;
      background: white;
      padding: 13px 0;
      border-radius: 50px;
      -webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
      -moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
      -o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
      transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
    }
    .link:hover{
      width:310px;
      opacity:1;
      letter-spacing: 2px;
      -webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
      -moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
      -o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
      transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
    }

    /* ========================= FOOTER ========================= */
    .footer {
      color: aliceblue;
      font-size: 44px;
      border-top: 1px solid white;
    }
    .footer__container {
      display: flex;
      justify-content: space-between;
      padding: 55px 10px;
      
    }
    .list__item-footer{
      border-bottom: none;
    }